:root {
    --main-bg-color: #000000;
    --header-bg-color: #242424;
    --header-bg-color-highlight: #313131;
    --header-bg-color-close: rgba(255, 0, 0, 0.5);
    --text-color: wheat;
    --shadow-box-margin: 3pt;
}

.online {
    --status-indicator: rgba(0, 255, 0, 0.5);
}

.offline {
    --status-indicator: rgba(255, 0, 0, 0.5);
}

html, body {
    height: 100%;
}

#app {
    display: grid;
    height: 100%;
    grid-template-rows: [header] 26pt [main] auto [footer] 20pt;
    background-color: var(--main-bg-color);
}

body {
    font-family: "PT Sans Narrow", sans-serif;
    color: var(--text-color);
    margin: 0;
}
